button {
    position: relative;
    top: 2vh;
    width: 100%;
    height: 40px;
    background-color: rgb(242, 78, 75);
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 15px;
}

button span {
    font-size: 15px;
}