.contact {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  height: 40px;
  padding: 10px;
  top: 10px;
  left: -5em;
  width: 10em;
  text-align: center;
}

.contact p,
span {
  display: inline;
  color: #01b0eb;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 3em;
    left: -0.5em;
  }

  .contact p {
    display: none;
  }
}
